{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<h1>Votre panier :</h1>

    <div class="container">
        {% if items | length > 0 %}   
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.figurine.name }}</td>
                            <td>{{ item.figurine.price / 100 }} €</td>
                            <td>
                                <a href="{{ path("cart_decrements", {'id': item.figurine.id}) }}" class="btn btn-info btn-sm">-</a>
                                {{ item.qty }}
                                <a href="{{ path("cart_add", {'id': item.figurine.id}) }}" class="btn btn-info btn-sm">+</a>    
                            </td>
                            <td>{{ item.total  }} €</td>
                            <td><a href="{{ path('cart_delete', {'id': item.figurine.id}) }}" class="btn btn-danger">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot> 
                    <tr>
                        <td colspan="3"> Total : </td>
                        <td>{{ total  }} €</td>
                    </tr>
                </tfoot>      
            </table>
            <hr class="w-50 mx-auto mt-5 mb-4">
            <h2>Confirmez votre commande en completant le formulaire</h2>
            {{ form_start(confirmationForm) }}

            {{ form_widget(confirmationForm)}}

            <button type="submit" class="btn btn-success mt-3"> Confirmation de commande </button>

            {{ form_end(confirmationForm)}}

        {% else %}
            <h2>Le panier est vide !</h2>
        {% endif %}
    </div>
{% endblock %}
