{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4 text-center shadow p-2 text-info">Bienvenue dans le monde des Héros !!</h1>
    </div>
    <div class="container">
        <h1>Nos produits phares :</h1>
        <div class="row">
            {% for f in figurines %}
                <div class="col">
                    <div class="card">
                        <img class="w-50 mt-2 m-auto" src="{{f.picture}}" alt="img">
                        <div class="card-body mx-auto">
                            <h4 class=>{{f.name}}({{f.price / 100}})</h4>
                            <span class="badge rounded-pill bg-info">
                                {{f.category.categoryName}}
                            </span>
                            <p class="card-text">
                            {{f.shortDescription}}
                            </p>
                            <a href="#" class="btn btn-info">Détail</a>
                            <a href="#" class="btn btn-success">Acheter</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="mt-5 mx-auto w-50">
        <h2 class="mt-5">Des figurines de qualités</h2>

        <div class="row mt-4">
            {% include "shared/_info.shop.html.twig" with {
                    'color':'info',
                    'icone':'fas fa-truck-fast',
                    'text':'livraison rapide'
                } 
            %}

            {% include "shared/_info.shop.html.twig" with {
                    'color':'success',
                    'icone':'fas fa-check',
                    'text':'livraison rapide'
                } 
            %}

            {% include "shared/_info.shop.html.twig" with {
                    'color':'warning',
                    'icone':'fas fa-reply',
                    'text':'Retour gratuit'
                } 
            %}
        </div>
    </div>
    
{% endblock %}