<div class="col-3 mx-auto">
    <div class="card">
        <img class="w-50 mt-2 m-auto" src="{{figurine.picture}}" alt="img">
        <div class="card-body mx-auto">
            <h4 class=>{{figurine.name}} ({{figurine.price / 100}}€)</h4>
            <span class="badge rounded-pill bg-info">
                {{figurine.category.categoryName}}
            </span>
            <p class="card-text">
            {{figurine.shortDescription}}
            </p>
            <a href="{{ path('figurine_show', {
                    'category_slug': figurine.category.slug, 
                    'slug': figurine.slug
                }) 
            }}" class="btn btn-info">Détail</a>
            <a href="{{ path('cart_add', {'id': figurine.id})}}" class="btn btn-success">Acheter</a>
        </div>
    </div>
</div>