{% extends 'base.html.twig' %}

{% block title %}User-list{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des utilisateurs</h1>
<div class="container">
    <div class="border border-solid border-warning p-5 mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Password</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# <a href="{{ path('app_users_new') }}">Create new</a> #}
    </div>
    
{% endblock %}
